# Exécutable
Terraria

# Dossiers de compilation
obj/

# Fichiers objets
*.o

# Fichiers de débogage
*.dSYM/
*.su
*.idb
*.pdb

# Logs
errors.txt
coding-style-reports.log

# Fichiers d'éditeurs
.vscode/
.idea/
